@import url("main.css");
@import url("mod_playlist.css");
@import url("mod_tvplayer.css");
@import url("mod_schedule.css");
@import url("mod_titlebar.css");
.scrollhide12 {
	width: calc(100% + 12px) !important;
	margin-right: -12px !important;
}
.scrollhide15 {
	width: calc(100% + 15px) !important;
	margin-right: -15px !important;
}
.scrollhide17 {
	width: calc(100% + 17px) !important;
	margin-right: -17px !important;
}