@import url("_fonts.css");
@import url("main.css");
@import url("mod_playlist.css");
@import url("mod_tvplayer.css");
@import url("mod_schedule.css");
@import url("mod_titlebar.css");
.scrollhide {
	width: 300px;
	height: 100%;
	overflow: hidden;
}
.scrollhide > div {
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	width: calc(100% + 35px);
	padding-right: 18px;
	box-sizing: border-box;
}
.scrollhide > div::-webkit-scrollbar {width:0}
.scrollhide > div {-ms-overflow-style: none}
.scrollhide0 > div {padding-right: 0;width: 100%}