section.nowonair {
	z-index: 3;
	position: absolute;
	left:0;width:723px;
	top: 0px; bottom:0;
	margin: 0 0 0 48px;
	overflow: hidden;
	background: rgba(42,48,57,.82);
	border-right: 0px solid rgba(255,255,255,.125);
	box-shadow: 4px 0px 4px 0px rgba(0,0,0,.25);
	transition: left .25s ease-out 0s;
}
section.nowonair.hidden {
	left: -723px;
	box-shadow: none;
}
section.nowonair > h2 {
	height: 37px;
	margin: 0;
	padding: 5px;
	background: black;
	font-size: 24px;
	font-weight: 200;
	line-height: 36px;
	border-bottom: 1px solid dodgerblue;
	box-shadow: 0 0 12px black;
	background: rgba(42,48,57,1);
	z-index: 2;
}
section.nowonair > div {
	width: 100%;
	position: relative;
	height: calc(100% - 48px);
}

.nowonair ul,
.nowonair li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}
.nowonair ul {
	width: 723px;
	margin: -1px 0 0 0px;
}
.nowonair li {
	margin: 1px 1px 0 0;
	float: left;
	width: 240px;
	height: 180px;
	position: relative;
	color: white;
	box-sizing: border-box;
}
.nowonair li.latent {background: rgba(222,222,222,.25)}
.nowonair li.latent:before {
	font: 48px/48px 'Segoe';
	color: rgba(222,222,222,.25);
	content: '\E8FF';
	position: absolute;
	width:48px;left:50%;
	height:48px;top:50%;
	margin: -24px;
	overflow: hidden;
	text-align: center;
}
.nowonair li:after,
.nowonair li > strong,
.nowonair li > span,
.nowonair li > i {position: absolute}
.nowonair li > strong,
.nowonair li > span{z-index: 1}
.nowonair li > i {
	position: absolute;
	left:0px;right:0px;
	top:0px;bottom:0px;
	overflow: hidden;
	width: 150%;
	margin-left: -25%;
	text-align: center;
}
.nowonair li:after {
	content:'';
	position:absolute;
	width:100%;left:0;
	height:100%;top:0;
	background: linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.5) 50%, transparent);
}
.nowonair li > i > img {
	height: 100%;
	width: auto;
}
.nowonair li > strong,
.nowonair li > span {overflow: hidden}
.nowonair li > span {
	left: 3%;
	width: 94%;
	bottom: 6px;
	padding: 0 0 2px;
	font-size: 93%;
	line-height: 16px;
	max-height: 64px;
	text-shadow: 0px -1px 1px black;
}
.nowonair li > strong {
	top:0;left:0;right:0;
	margin: 4px 4px 0;
	padding: 0;
	height: 48px;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255,255,255,1);
	background: rgba(50,50,50,.0);
	text-shadow: 0 1px 3px rgba(0,0,0,1);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-overflow: ellipsis;
}
.nowonair li > strong > i.chaicon {
	background: transparent;
	float: left;
	margin-right: 6px;
	align-self: flex-start;
	flex-shrink: 0;
}
.nowonair li:hover:after {
	box-shadow: inset 0 0 0 3px rgba(222,222,222,.5);
}
.nowonair li.checked:after {
	box-shadow: inset 0 0 0 3px rgba(30,144,255,1);
}