section.mod-playlist {
	z-index: 3;
	position: absolute;
	left:0;width:242px;
	top: 0px; bottom:0;
	margin: 0 0 0 48px;
	overflow: hidden;
	background: rgba(42,48,57,.82);
	border-right: 1px solid rgba(255,255,255,.125);
	box-shadow: 4px 0px 4px 0px rgba(0,0,0,.25);
	transition: left .25s ease-out 0s;
}
section.mod-playlist.hidden {
	left: -243px;
	box-shadow: none;
}
.mod-playlist > big,
.mod-playlist > div {
	display: block;
	position: relative;
}
.mod-playlist > big {
	padding: 11px 10px 12px;
	font-size: 24px;
	font-weight: 200;
	line-height: 24px;
	border-bottom: 1px solid dodgerblue;
	box-shadow: 0 0 12px black;
	background: rgba(42,48,57,1);
	z-index: 2;
}
.mod-playlist > div {
	height: calc(100% - 48px);
	width: 100%;
	position: relative;
	z-index: 1;
}
.mod-playlist ol,
.mod-playlist li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.mod-playlist ol {
	box-shadow: inset 0 0 0 0px green;
	width: 244px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
.mod-playlist li {
	width: 80px;
	margin: 0 1px 1px 0;
	box-shadow: inset 0 0 0 0px blue;
	overflow: hidden;
}
a.chatile {
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	text-align: center;
	background: rgba(49,58,73,0);
}
a.chatile > i,
a.chatile > u,
a.chatile:after {
	z-index: 1;
	overflow: hidden;
	position: absolute;
	left: 0;
}
a.chatile > i {
	left: 50%;
	top: 0;
	width:48px;
	height: 48px;
	border-radius: 3px;
	margin: 6px 0 0 -24px;
	background-color: white;
	box-shadow: 0 0px 4px rgba(0,0,0,.25);
}
a.chatile > i:after {
	content: '';
	position: absolute;
	width:100%; left:0;
	height:100%; top:0;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.25);
	background-image: linear-gradient(0deg, rgba(255,255,255,.3) 0%, transparent 75%, transparent);
}
a.chatile > i > img {
	display: block;
	margin: 0 auto;
	height: 100%;
	width: auto;
}
a.chatile > u {
	z-index: 2;
	right: 0;
	bottom: 0;
	margin: 0 2px 5px;
	font-size: 12px;
	line-height: 15px;
	max-height: 30px;
	overflow: hidden;
	text-decoration: none;
	text-shadow: 0px -1px 1px black;
	color: ghostwhite;
	text-overflow: ellipsis;
}
a.chatile:after {
	display: none;
	content: '';
	position: absolute;
	width:100%; left:0;
	height:100%; top:0;
	background: rgba(0,0,0,.25) none no-repeat 0 0;
	background-image: linear-gradient(0deg, rgba(0,255,0,.5) 0%, transparent 33%, transparent);
}
a.chatile:hover {
	background-color: rgba(220,220,220,.16);
	box-shadow: inset 0 0 0 1px rgba(220,220,220,.25);
}
a.chatile:active {
	background-color: rgba(220,220,220,.16);
	box-shadow: inset 0 0 0 1px dodgerblue;
}
.st-view a.chatile:hover,
.st-view a.chatile:active {background: transparent}
.mod-playlist li.st-view {background-color: dodgerblue}
