.masthead {
	left: 48px;
	height: 48px;
	background: white;
	background: transparent;
	background-image: linear-gradient(180deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.25) 75%, transparent);
}
.masthead > img,
.masthead > time {
	height: 100%;
	width: auto;
	float: left;
}
.masthead > time {
	float: right;
	font: 30px/36px 'Ubuntu';
	font: 30px/36px 'Open Sans';
	font-weight: 200;
	margin: 6px 6px 0 0;
	color: gray;
}
.masthead > div {
	line-height: 18px;
	height: 36px;
	padding: 6px;
/*
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: flex-start;
	justify-content: flex-start;
*/
}
.masthead > div > i,
.masthead > div > b,
.masthead > div > u {
	display: block;
	margin: 0 0px 0 0;
	background: darkblues;
	text-decoration: none;
	overflow: hidden;
}
.masthead > div > i {
	width: 36px;
	height: 36px;
	box-shadow: 0 0px 4px rgba(0,0,0,.25);
	border-radius: 2px;
	position: relative;
	float: left;
	margin: 0 6px 0 0;
}
.masthead > div > i > img {
	display: block;
	width: auto;
	height: 100%;
}
.masthead > div > i:after {
	content: '';
	position:absolute;
	width:100%;left:0;
	height:100%;top:0;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.25);
	background-image: linear-gradient(0deg, rgba(255,255,255,.3) 0%, transparent 75%, transparent);
}
.masthead > div > b,
.masthead > div > u {
	height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 4px;
}
.masthead > div > u {
	color: lightgray;
	font-size: 93%;
	height: 16px;
	line-height: 16px;
}
.masthead > div > b {
	font-weight: 200;
	font-size: 128%;
	height: 20px;
	line-height: 18px;
}

/*
.masthead > div > u {
	margin: 0px 4px;
	height: 24px;
	max-width: 250px;
	color: white;
	font-weight: bold;
	padding-right: 4px;
	border-right: 1px solid rgba(255,255,255,.25);
}
.masthead > div > p {
}
*/