@keyframes loadspin {
	0% {transform: rotate(360deg)}
	100% {transform: rotate(0deg)}
}
.mod-tvplayer {
	position: absolute;
	left:48px; right:0px;
	top:0px; bottom:0px;
	overflow: hidden;
}
.mod-tvplayer > div.tvplayer {
	position: absolute;
	left:0;width:100%;
	top:0;height:100%;
	margin: 0;
}
.tvplayer > div {
	box-shadow: inset 0 0 0 0px cyan;
	position: absolute;
	left:0;width: 100%;
	top:0;height: 100%;
}
.player-video > s {
	position: absolute;
	left:0; width:100%;
	top:0; height:100%;
	background: transparent none repeat-x 0 0;
	background-image: repeating-linear-gradient(135deg, rgba(255,255,255,.05) 20px, rgba(255,255,255,.05) 40px, transparent 40px, transparent 60px);
	pointer-events: none;
	display: none;
}
.player-video > s:before,
.player-video > s:after {
	content: '';
	position: absolute;
	left:50%;width:0px;
	top:50%;height:0px;
	margin: -1px;
	border: 1px solid cyan;
}
.player-video > s:before {left:0;width:100%}
.player-video > s:after {top:0;height:100%}

.tvplayer > div.player-video > video {
	display: block;
	position: relative;
	left:0;width: 100%;
	top:0;height: 100%;
	margin: 0 auto;
}
.tvplayer.testmode > div.player-video > video {
	position: absolute;
	left:50% !important;
	top:50% !important;
	width:640px !important;
	height:480px !important;
	margin: -240px 0 0 -320px !important;
	background: maroon;
	box-shadow: 0 0 0 1px cyan;
}
.tvplayer.testmode > p {
	left:50% !important;
	top:50% !important;
	width:640px !important;
	height:480px !important;
	margin: -240px 0 0 -320px !important;
	background: maroon;
	box-shadow: 0 0 0 1px tomato;
}


div.player-video:after,
div.player-video:before {
	z-index: 1;	
	content: '';
	border-radius: 50%;
	text-align: center;
	position: absolute;
	left:50%;width:60px;
	top:50%;height:60px;
	margin: -34px 0 0 -34px;
	border: 4px solid darkorange;
	border-top-color: transparent;
	pointer-events: none;
	font: 12px/58px monospace;
}
div.player-video:after {
	content: none;
	width: 32px;
	height: 32px;
	margin: -20px 0 0 -20px;
}
div.player-video.ls-waiting:after {
	content: '';
	animation: loadspin .6s linear 0s infinite reverse;
}
div.player-video:before {}
.st-idle div.player-video:before {content: 'idle'}
.st-load div.player-video:before {animation: loadspin .6s linear 0s infinite}
.st-fail div.player-video:before {
	content: 'error';
	border-color: tomato;
	color: tomato;
}
.st-view div.player-video:before {content: none}

.tvplayer > u,
.tvplayer > s {
	font: normal normal 12px/19px monospace;
	background: rgba(0,0,0,.0);
	text-decoration: none;
	pointer-events: none;
	white-space: nowrap;
	padding: 0 6px 1px;
	position: absolute;
	color: lightgreen;
	left: 0px;
	width: 100%;
	text-align:center;
	text-shadow: 0 0 1px black;
	visibility: hidden;
}
.tvplayer > u {bottom:0px}
.tvplayer > s {bottom:20px}
/* ============================================================== */
.tvplayer > div.tverror {
	left:50%;width:360px;
	top:50%;height:60px;
	margin: -35px 0 0 -185px;
	padding: 5px;
	background: rgba(60,60,60,.9);
	outline: 1px solid tomato;
	font: 14px/15px monospace;
	z-index:3;
}
.tvplayer > div.tverror:before {
	float: left;
	width: 60px;
	height: 100%;
	color: tomato;
	border-right: 1px solid rgba(255,99,71,.33);
	margin-right: 12px;
	font: 36px/60px 'Segoe';
	text-align: center;
	content: '\E783';
}
/* ============================================================== */
.tvplayer > div.tvcntrls {
	position: absolute;
	top: auto;
	bottom:0;height:40px;
	left:0px; width:100%;
	padding: 4px 0px;
	background: rgba(255,255,255,0);
	background-image: linear-gradient(0deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.25) 75%, transparent);
}
.tvplayer > div.tvcntrls {bottom:-64px; transition: bottom .25s ease-in-out 0s}
.tvplayer.hover > div.tvcntrls {bottom:0}

.tvcntrls > u,
.tvcntrls > s,
.tvcntrls > i {
	font: normal normal 12px/19px monospace;
	background: rgba(0,0,0,.75);
	text-decoration: none;
	pointer-events: none;
	white-space: nowrap;
	padding: 0 6px 1px;
	position: absolute;
	bottom:100%;left:0;
	visibility: hidden;
	color: lightgreen;
}
.tvcntrls > u {margin-bottom: 0px}
.tvcntrls > s {margin-bottom: 21px}
.tvcntrls > i {
	right: 0px;
	left: auto;
	bottom: 0;
	margin: 0;
}
.tvcntrls > button {
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 2px;
	border: 0;
	color: black;
	border: 2px solid white;
	border-radius: 50%;
	font-size: 8px;
}
.tvcntrls > button:after {
	color: white;
	font: 24px/48px 'Segoe';
	position: absolute;
	left:50%;width:48px;
	top:50%;height:48px;
	margin: -24px;
}
.tvcntrls > button#tvc-play:after {content: '\E7E8'}
.ps-playing .tvcntrls > button#tvc-play:after {content: '\E769'}
.ps-onpause .tvcntrls > button#tvc-play:after {content: '\E768'}

.tvcntrls > button#tvc-mute:after {content: '\E767'}
.volmuted .tvcntrls > button#tvc-mute:after {content: '\E74F'}

.tvcntrls > button#tvc-size:after {content: '\E73F'}
.tvcntrls > button#tvc-size:hover:after {content: '\E740'}

.tvcntrls > button#tvc-stop:after {content: '\E768'}
.tvcntrls > button#tvc-stop:hover:after {content: '\E71A'}

/* ============================================================== */
.mod-tvplayer > div > p {
	margin: 0;
	position: absolute;
	left:0; width:100%;
	top:0; height:100%;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.125);
	background: transparent none no-repeat 50% 50%;
	background-size: cover;
}
.mod-tvplayer > div > p:before {
	content: '';
	position: absolute;
	left:0; width:100%;
	top:0; height:100%;
	opacity: .2;
	background: transparent none repeat 0 0;
	background-image: 
		linear-gradient(90deg, transparent 0%, transparent 50%, rgb(30,40,70) 50%, rgb(30,40,70)),
		linear-gradient(180deg, transparent 0%, transparent 50%, rgb(30,40,70) 50%, rgb(30,40,70));
	background-size: 2px 2px;
}
.mod-tvplayer > div > p > span {
	position: absolute;
	bottom: 12px;
	padding: 12px;
	left: 12px;right:12px;
	background: rgba(0,0,0,.75);
	padding: 6px 12px 8px;
	font-size: 18px;
	font-weight: 200;
	color: white;
}

/* ============================================================== */
.mod-tvplayer > div > video {
	display: block;
	background: rgb(53,53,53);
	position: absolute;
	left:0;width: 100%;
	top:0;height: 100%;
}
.mod-tvplayer > div > video {background-color: black}
.mod-tvplayer > div > video.hlsjs {background-color: darkslategray}
.mod-tvplayerXX > div > video {
	margin: -180px 0 0 -240px !important;
	left:50%;width: 480px !important;
	top:50%;height: 360px !important;
}
/* ===================== Button play */
#playbttn {
	position: absolute;
	left:50%;width:72px;
	top:50%;height:72px;
	margin: -36px 0 0 -36px;
	padding: 0;
	outline: 0;
	background: rgba(60,60,60,.75);
	border: 3px solid white;
	color: white;
	cursor: pointer;
	text-align: center;
	border-radius: 36px;
	box-shadow: 0 0 8px black;
	transition: opacity .2s linear 0s;
}
#playbttn:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	font: 42px/66px 'Segoe';
}
.st-view.ps-onpause #playbttn:before {
	content: '\E768';
	padding-left: .05em;
}
.st-view.ps-playing #playbttn:before {
	content: '\E769';
	padding-left: .01em;
}
#playbttn {
	opacity: .0;
	pointer-events: none;
}
.hover #playbttn {
	opacity: .75;
	pointer-events: auto;
}