.masthead {
	top: 0;
	left: 48px;
	height: 48px;
	background: white;
	background: transparent;
	background-image: linear-gradient(180deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.25) 75%, transparent);
}
.masthead > img {
	height: 100%;
	width: auto;
	float: left;
}
.masthead > time {
	float: right;
	margin: 4px 6px 0 0;
	font: 200 30px/36px 'Open Sans';
	text-shadow: 0px 0px 1px black;
	color: white;
}
.masthead > div {
	line-height: 18px;
	height: 36px;
	padding: 6px;
}
.masthead > div > i,
.masthead > div > b,
.masthead > div > u {
	display: block;
	margin: 0 0px 0 0;
	background: darkblues;
	text-decoration: none;
	overflow: hidden;
}
.masthead > div > i {
	width: 36px;
	height: 36px;
	box-shadow: 0 0px 4px rgba(0,0,0,.25);
	border-radius: 2px;
	position: relative;
	float: left;
	margin: 0 6px 0 0;
}
.masthead > div > i > img {
	display: block;
	width: auto;
	height: 100%;
}
.masthead > div > i:after {
	content: '';
	position:absolute;
	width:100%;left:0;
	height:100%;top:0;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.25);
	background-image: linear-gradient(0deg, rgba(255,255,255,.3) 0%, transparent 75%, transparent);
}
.masthead > div > b,
.masthead > div > u {
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 4px;
}
.masthead > div > b {
	height: 16px;
	color: rgb(210,210,210);
	font-size: 14px;
	line-height: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: rgba(50,50,50,.0);
	text-shadow: 0px 1px 3px black;
}
.masthead > div > u {
	height: 20px;
	color: white;
	font-weight: 200;
	font-size: 18px;
	line-height: 18px;
	text-shadow: 0px 0px 1px black;
}

/*
.masthead > div > u {
	margin: 0px 4px;
	height: 24px;
	max-width: 250px;
	color: white;
	font-weight: bold;
	padding-right: 4px;
	border-right: 1px solid rgba(255,255,255,.25);
}
.masthead > div > p {
}
*/