@keyframes listAppear {
  from {opacity: .25}
  to {opacity: 1}
}
.mod-schedule {
	z-index: 3;
	position: absolute;
	right:0;width:400px;
	top: 0px;bottom:0px;
	margin: 0 0 0px;
	overflow: hidden;
	background: rgba(42,48,57,.95);
	border-left: 1px solid rgba(255,255,255,.125);
	box-shadow: 0 0 5px black;
	transition: right .25s ease-out 0s;
}
.mod-schedule.hidden {
	box-shadow: none;
	right: -401px;
}
.mod-schedule > p {
	position: absolute;
	left:0px;right:0px;
	top: 50%;
	padding: 6px;
	background: black;
	margin: 0 6px;
}
.mod-schedule-dayz {
	height: 48px;
	width: 100%;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid dodgerblue;
	background-color: rgba(42,48,57,1);	
}
.mod-schedule-dayz > button {
	padding: 0;
	margin: 0;
	color: whitesmoke;
	text-align: center;
	float: left;
	width: 32px;
	height:100%;
	border: 0px solid rgba(255,255,255,.125);
	border-width: 0 1px 0 0;
}
.mod-schedule-dayz > button:before {
	font: 24px/48px 'Segoe';
	content: '\E76B';
}
.mod-schedule-dayz > button + button {
	float: right;
	border-width: 0 0 0 1px;
}
.mod-schedule-dayz > button + button:before {content: '\E76C'}


.mod-schedule-dayz > div {
	height: calc(100% + 24px);
	overflow: hidden;
	overflow-x: scroll;
	position: relative;
	scroll-behavior: smooth;
}
.mod-schedule-dayz ul,
.mod-schedule-dayz li {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 48px;
}
.mod-schedule-dayz ul {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
}
.mod-schedule-dayz li {
	box-sizing: border-box;
	flex-shrink: 0;
	display: block;
	width: 48px;
	border-right: 1px solid rgba(255,255,255,.125);
}
.mod-schedule-dayz li:last-child {border-right-width: 0px}

.mod-schedule-dayz time {
	display: block;
	text-align: center;
	width: 100%;
	height: 40px;
	padding: 4px 0;
}
.mod-schedule-dayz time b,
.mod-schedule-dayz time u {
	display: block;
	position: static;
	line-height: 20px;
	text-decoration: none;
	font-weight: normal;
}
.mod-schedule-dayz time b {font-size: 16px}
.mod-schedule-dayz time u {font-size: 12px}

.mod-schedule-dayz time:hover {
	background-color: rgba(220,220,220,.16);
}
.mod-schedule-dayz time.is-crrnt {
	background-color: dodgerblue;
}
.mod-schedule-dayz time.is-empty {
	pointer-events: auto;
	opacity: .5;
}
.mod-schedule-dayz time.is-today {}

.mod-schedule ol,
.mod-schedule ol li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}
.mod-schedule ol {
	overflow-y: scroll;
	height: calc(100% - 49px);
	animation: listAppear .25s ease-out 1;
}
.mod-schedule ol li {
	margin: 0px 0;
	border-top: 1px dashed rgba(255,255,255,.12);
}
.mod-schedule ol li:last-child {}
.mod-schedule ol li > a,
.mod-schedule ol li > a > time,
.mod-schedule ol li > a > span {
	display: block;
	overflow: hidden;
}
.mod-schedule ol li > a {
	color: darkgray;
	height: 48px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: flex-start;
	justify-content: flex-start;
	background: rgba(49,58,73,0);
}
.mod-schedule ol li > a > time,
.mod-schedule ol li > a > span {
	width: 100%;
	line-height: 36px;
	max-height: 36px;
	box-shadow: inset 0 0 0 0px red;
}
.mod-schedule ol li > a > time {
	max-width: 44px;
	padding-left: 4px;
	opacity: .75;
}
.mod-schedule ol li > a > span {
	font-weight: 200;
	line-height: 18px;
	text-overflow: ellipsis;
}
.mod-schedule ol li > a.pg-next {}
.mod-schedule ol li > a.pg-past,
.mod-schedule ol li > a.pg-live {color: white}
.mod-schedule ol li > a.pg-live:after {
	display: block;
	padding: 0 4px;
	text-align: center;
	font: 20px/36px 'Segoe';
	content: '\E93E';
}