aside.sidebar {
	z-index: 5;
	right: auto;
	width: 48px;
	bottom: 0px;
	top: 0px;
	background: rgb(31,31,31);
	color: white;
}
.sidebar > img {
	width: 100%;
	height: auto;
	display: block;
}
.sidebar > a {
	position: relative;
	font: 0px/0px serif;
	display: block;
	width: calc(100% - 8px);
	border-left: 4px solid transparent;
	padding: 0 4px 0 0;
	margin: 1px 0 0;
	height: 48px;
	text-decoration: none;
	background: transparent;
	color: inherit;
}
.sidebar > a.active {
	background-color: rgba(220,220,220,.16);
	border-left-color: dodgerblue;
}
.sidebar > a:hover {
	background-color: rgba(220,220,220,.16);
}
.sidebar > a:before {
	display: block;
	font: 16px/48px 'Segoe';
	text-align: center;
	content: '\E0A2';
}
.sidebar > a#stopit,
.sidebar > a#config {position: absolute;bottom:0}


.sidebar > a#chlist:before {content: '\E700'}
.sidebar > a#nowair:before {content: '\E93E'}

.sidebar > a#config {margin-bottom: 48px}
.sidebar > a#config:before {content: '\E713'}
.sidebar > a#stopit {margin-bottom: 96px}
.sidebar > a#stopit:before {content: '\E7E8'}

.sidebar > a#apinfo:before {content: '\E946'}
.sidebar > a#schdle:before {content: '\E8FD'}
.sidebar > a#reload:before {content: '\E72C'}