@keyframes timeline-s {100% {width:100%}}
.timeline {
	height: 5px;
	display: block;
	overflow: hidden;
	background: transparent none no-repeat 0 0;
	background-color: rgba(125,125,125,.125);
}
.timeline > s {
	display: block;
	width: 50%;
	height: 100%;
	background-color: rgb(255,200,0);
	animation: timeline-s 2s 0s 1 linear;
	animation-fill-mode: forwards;
	animation-play-state: running;
}
